body {
    padding: 0;
    margin: 0;
    background-image: url(imgs/Background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Titillium Web', sans-serif;
}

.logo {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 960px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.row1 {
    align-self: flex-start;
    float: left;
}

.row2 {
    align-self: flex-start;
    float: right;
    margin-left: 80px;
}

.form {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 420px;
    background-color: rgba(0,0,0,.4);
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form p {
    position: absolute;
    top: -110px;
    color: #ffffff;
    font-size: 32px;
}

.form form {
    background-color: #f4f4f4;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.register {
    width: 382px;
    height: 460px;
}

.form-input {
    width: 259px;
    height: 39px;
    padding-left: 80px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    font-size: 16px;
    color: #afafaf;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group:nth-of-type(6) {
    margin-top: -15px;
}

.input-group img {
    position: absolute;
    top: 10px;
    left: 20px;
    border-right: 1px solid #e4e4e4;
    padding-right: 20px;
}

.input-group img.email {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 17px;
}

.location {
    padding-left: 5px;
}

select.form-input {
    width: 339px;
}

.input-group label {
    cursor: pointer;
    color: #afafaf;
    font-size: 17px;
    margin-left: 35px;
}

.input-group input[type=checkbox] {
    display: none;
}

.input-group label:before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    left: -10px;
    background-color: #f4f4f4;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
}

.input-group input[type=checkbox]:checked + label:before {
    content: "\2022";
    color: #8ac915;
    font-size: 55px;
    text-align: center;
    line-height: 14px;
}

.form button {
    margin-top: -15px;
    width: 339px;
    height: 48px;
    background-color: #90ce29;
    color: #f1f5ee;
    font-size: 24px;
    border: 1px solid #3b9a00;
    border-radius: 4px;
}

.form button:focus,
.form button:hover {
    background-color: #80bd18;
    cursor: pointer;
}

.signin {
    width: 382px;
    height: 218px;
}

.signin button {
    width: 139px;
    height: 41px;
    margin-left: 30px;
}

.signin .input-group:last-child {
    margin: 0;
}

.row1 .form:last-child {
    margin-top: 89px;
}

.send {
    width: 382px;
    height: 535px;
}

.row2 .form:not(:first-child) {
    margin-top: 80px;
}

.form-control {
    padding-top: 16px;
    width: 315px;
    height: 230px;
    padding-left: 23px;
    font-size: 16px;
    border: none;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    resize: none;
    color: #afafaf;
}

.send .input-group:nth-of-type(3) {
    margin-top: 15px;
    position: relative;
    left: -55px
}

.recovery {
    width: 382px;
    height: 218px;
}

.button-group {
    margin-top: 10px;
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.recovery button:nth-of-type(1) {
    width: 148px;
    font-size: 18px;
}

.recovery button:nth-of-type(2) {
    width: 148px;
    background-color: #c4e0a3;
    border: 1px solid #90ca6d;
    font-size: 18px;
}

.recovery button:nth-of-type(2):hover {
    cursor: not-allowed;
}

.subscribe {
    width: 382px;
    height: 156px;
}

.subscribe button:nth-of-type(1) {
    width: 148px;
    font-size: 18px;
}

.subscribe button:nth-of-type(2) {
    width: 148px;
    background-color: #f13d4d;
    border: 1px solid #a2202a;
    font-size: 18px;
}

@media only screen and (max-width: 976px) {
    .form-container {
        width: 100%;
        justify-content: space-around;
    }
    
    .row2 {
        margin: 0;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 445px) {
    .logo img {
        width: 100%;
    }
    
    .row1 {
        width: 100%;
    }
    
    .row2 {
        width: 100%;
    }
    
    .form {
        width: 100%;
    }
    
    .form form {
        width: 90%;
    }
    
    .input-group {
        width: 90%;
    }
    
    .input-group img {
        display: none;
    }
    
    .form-input {
        width: 100%;
        padding-left: 0;
    }
    
    select.form-input {
        width: 100%;
    }
    
    .register button {
        width: 90%;
    }
    
    .input-group label:before {
        left: 0;
    }
    
    .input-group span {
        position: relative;
        left: 35px;
    }
    
    .form-control {
        width: 84%;
    }
    
    .send button {
        width: 90%;
    }
    .send .input-group:nth-of-type(3) {
        left: 0;
    }
    
    .button-group {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .recovery button:nth-of-type(2) {
        margin-top: 15px;
    }
    
    .recovery button[type=submit] {
        width: 90%;
    }
    
    .recovery {
        height: 290px;
    }
    
    .subscribe button[type=reset] {
        width: 90%;
        margin-top: 15px;
    }
    
    .subscribe button[type=submit] {
        width: 90%;
    }
    
    .subscribe {
        height: 220px;
    }
}